   <!--::team part end::-->
   <section class="about_part section-padding">
    <div class="container">
       <div class="row">
          <div class="section_tittle">
             <h2><span>about</span> us</h2>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-6 col-md-6">
             <div class="about_img">
                <img src="img/about.png" alt="">
             </div>
          </div>
          <div class="offset-lg-1 col-lg-5 col-sm-8 col-md-6">
             <div class="about_text">
                <h2>We are the leading
                   industry in <span>inspections.</span></h2>
                <p>Started in 1997, we are a family business handed down from father to son. Serving a wide variety of agents and clients, we specialize in helping home owners
                   make sure what they pay for is what they get.
                </p>
                <a href="about.html" class="btn_1">learn More</a>
                <div class="about_part_counter">
                   <div class="single_counter">
                      <span class="counter">150</span>
                      <p>Realtors</p>
                   </div>
                   <div class="single_counter">
                      <span class="counter">300</span>
                      <p>Clients</p>
                   </div>
                   <div class="single_counter">
                      <span class="counter">500</span>
                      <p>Inspections</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--::team part end::-->