   <!--::team part end::-->
   <section class="project_gallery section-padding">
    <div class="container-fluid">
       <div class="row">
          <div class="col-lg-12">
             <div class="project_gallery_tittle">
                <h2><span>More</span> Inspections</h2>
             </div>
             <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item big_weight">
                   <div class="project_img">
                      <img src="img/gallery/gallery_1.png" alt="">
                      <div class="project_gallery_hover_text">
                         <p>Single Home</p>
                         <h3>Anaheim, CA</h3>
                         <ul>
                            <li><<span class="flaticon-bath"></span> 04</li>
                            <li><span class="flaticon-bed"></span> 03</li>
                            <li><span class="flaticon-frame"></span> 3000 sqft</li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="grid-item big_height">
                   <div class="project_img">
                      <img src="img/gallery/gallery_4.png" alt="">
                      <div class="project_gallery_hover_text">
                         <p>Single Home</p>
                         <h3>Fullerton, CA</h3>
                         <ul>
                            <li><span class="flaticon-bath"></span> 02</li>
                            <li><span class="flaticon-bed"></span> 02</li>
                            <li><span class="flaticon-frame"></span> 2700 sqft</li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="grid-item">
                   <div class="project_img">
                      <img src="img/gallery/gallery_2.png" alt="">
                      <div class="project_gallery_hover_text">
                         <p>Single Home</p>
                         <h3>Walnut, CA</h3>
                         <ul>
                            <li><span class="flaticon-bath"></span> 05</li>
                            <li><span class="flaticon-bed"></span> 05</li>
                            <li><span class="flaticon-frame"></span> 6000 sqft</li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="grid-item">
                   <div class="project_img">
                      <img src="img/gallery/gallery_3.png" alt="">
                      <div class="project_gallery_hover_text">
                         <p>Single Home</p>
                         <h3>Diamond Bar, CA</h3>
                         <ul>
                            <li><span class="flaticon-bath"></span> 04</li>
                            <li><span class="flaticon-bed"></span> 03</li>
                            <li><span class="flaticon-frame"></span> 2200 sqft</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--::team part end::-->