   <!--::service part end::-->
   <section class="service_part">
    <div class="container">
       <div class="row justify-content-between align-items-center">
          <div class="col-lg-7 col-xl-6">
             <div class="section_tittle">
                <h2>our <span>services</span></h2>
             </div>
             <div class="service_part_iner">
                <div class="row">
                   <div class="col-lg-6 col-sm-6">
                      <div class="single_service_text ">
                         <img src="img/icon/service_1.svg" alt="">
                         <h4 style="padding-left: 80px">Home Inspection</h4>
                         <p>The backbone of our business. Our bread and butter. Home inspections are our thing and it's what we're good at.</p>
                      </div>
                   </div>
                   <div class="col-lg-6 col-sm-6">
                      <div class="single_service_text">
                         <img src="img/icon/service_2.svg" alt="">
                         <h4>Reports Included</h4>
                         <p>Custom made reports reviewed by licensed inspectors.</p>
                         <p><a href="#" style="text-decoration: underline;">See a sample report here.</a></p>
                      </div>
                   </div>
                   <div class="col-lg-6 col-sm-6">
                      <div class="single_service_text">
                         <img src="img/icon/service_3.svg" alt="">
                         <h4>Fast service</h4>
                         <p>Have a deadline? No problem. Your needs are our top priority.</p>
                      </div>
                   </div>
                   <div class="col-lg-6 col-sm-6">
                      <div class="single_service_text">
                         <img src="img/icon/service_4.svg" alt="">
                         <h4 style="padding-left: 80px">Other Properties</h4>
                         <p>We not only inspect houses. We also inspect warehouses, restaurants and offices.</p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-sm-10">
             <div class="service_text">
                <h2>We inspect a wide variety of <span>properties.</span></h2>
                <p>Our inspections for residential areas cover single homes, condominiums, apartments and mobile homes while our inspections for commercial areas cover warehouses, offices, restaurants and more.</p>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--::service part end::-->