   <!--::review_part start::-->
   <section class="review_part padding_bottom">
    <div class="container-fluid">
       <div class="row justify-content-center">
          <div class="col-xl-6 col-sm-6">
             <div class="section_tittle text-center">
                <h2>Testimonials</h2>
             </div>
          </div>
       </div>
       <div class="row justify-content-center">
          <div class="col-lg-11 col-sm-8">
             <!-- THUMBNAILS -->
             <div class="slider-nav-thumbnails">
                <div class="slider-thumbnails">
                   <img src="img/client/client_1.png" alt="slideimg" class="image">
                </div>
                <div class="slider-thumbnails">
                   <img src="img/client/client_3.png" alt="slideimg" class="image">
                </div>
                <div class="slider-thumbnails">
                   <img src="img/client/client_2.png" alt="slideimg" class="image">
                </div>
                <div class="slider-thumbnails">
                   <img src="img/client/client_3.png" alt="slideimg" class="image">
                </div>
             </div>
          </div>
          <div class="col-lg-7 col-sm-10">
             <!-- MAIN SLIDES -->
             <div class="slider">
                <div data-index="1">
                   <div class="client_review_text text-center">
                      <h3>Oliver L.</h3>
                      <h5>Diamond Bar, CA</h5>
                      <p>Scheduling with them is very simple, they've always managed to work with my schedule. Tien always shows up on time and is able to send me the report the next day, not wasting any escrow time. 
                         After every inspection, Tien would take the time to walk through the house with me and my clients regarding any major and minor issues. 
                         The best part is that Tien speaks fluent mandarin, so if you have any mandarin clients, they would fully understand the condition of the house they're buying.</p>
                   </div>
                </div>
                <div data-index="2">
                   <div class="client_review_text text-center">
                      <h3>Dustin L.</h3>
                      <h5>Chino, CA</h5>
                      <p>Tien caught two issues at my Chino condo in the garage. I was able to get it fixed by the seller. Also, my place in Duarte he spotted something my agent missed. I got it all sorted out and got peace a mind knowing it was solved before I bought the place. I absolutely loved the professional and detailed reports he issued me. Side note he was also a better value than other inspectors I crossed shop. Definitely recommend Tiens service. </p>
                   </div>
                </div>
                <div data-index="3">
                   <div class="client_review_text text-center">
                      <h3>Vivian Z.</h3>
                      <h5>Moreno Valley, CA</h5>
                      <p>I was in a hurry to get a home inspector so we can close fast enough for our move date. I asked about 5~6 inspector in the area and Tien was the first to respond and was able to set inspection next day. He was very punctual. 

                            The inspection process was very detailed. He explained to me his findings afterwards and gave me great advices. His pricing was also the most reasonable. I highly recommend him! </p>
                   </div>
                </div>
                <div data-index="4">
                   <div class="client_review_text text-center">
                      <h3>Tiffany L.</h3>
                      <h5>Diamond Bar, CA</h5>
                      <p>If you want a home inspector that is a highly qualified professional that's also personable, make an appointment with Tien. Tien came highly recommended by a trusted friend. During the home inspection, he thoroughly evaluated our home and even found asbestos in our attic.</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--::review_part end::-->