   <!--::tool part end::-->
   <div class="whole-wrap tool_part" style="padding-top:150px;">
    <div class="container box_1170">
          <div class="section_tittle">
                <h2><span>Our</span> Tools</h2>
          </div>
       <div class="section-top-border">
          <div class="row">
             <div class="col-md-6">
                <img src="img/tools/drone.png" alt="drone service" class="img-fluid">
             </div>
             <div class="col-md-6 mt-sm-20 tool_text">
                <h3 class="mb-30">Drone <span>Support*</span></h3>
                <p>Why do it yourself when robots do it better? Our drone service allows us to take photographs where it would normally be dangerous to access.</p>
             </div>
          </div>
       </div>
       <div class="section-top-border text-right">
          <div class="row">
             <div class="col-md-6 tool_text">
                <h3 class="mb-30"><span>Gas</span> Detection*</h3>
                <p class="text-right">
                   Gas leaks can be potentially fatal when gone undetected. Our inspection uses instruments to check for any possible gas leaks to make sure your first night in your new home won't be your last.
                </p>
             </div>
             <div class="col-md-6">
                <img src="img/tools/gas.png" alt="gas detection" class="img-fluid">
             </div>
          </div>
       </div>
       <div class="section-top-border">
          <div class="row">
             <div class="col-md-6">
                <img src="img/tools/moisture.png" alt="moisture detection" class="img-fluid" style="width: 375px;">
             </div>
             <div class="col-md-6 mt-sm-20 tool_text">
                <h3 class="mb-30">Moisture <span>Detection*</span></h3>
                <p>Water leaks left unnoticed in the long term are the quickest way a house falls apart. With our service, stop any potential or current leaks before they do long lasting damage to your new home.</p>
             </div>
          </div>
       </div>
       <div class="section-top-border text-right">
         <div class="row">
            <div class="col-md-6 tool_text">
               <h3 class="mb-30"><span>Thermal</span> Imaging*</h3>
               <p class="text-right">
                  Detect any current leaks or wiring problems that are impossible to see with the naked eye. With our thermal imaging, we can see any problems an ordinary inspector may miss.
               </p>
            </div>
            <div class="col-md-6">
               <img src="img/tools/thermal.png" alt="thermal imaging" class="img-fluid">
            </div>
         </div>
      </div>
    </div>
    <div style="display: flex;justify-content: center;">*We utilize a range of tools to support our inspections, but we always do so at the inspector’s professional discretion. Every inspection is tailored to ensure the highest standards of accuracy and thoroughness, with tools being employed only when appropriate to the specific situation.</div>
</div>
<!--::tool part end::-->
