   <!--::tool part end::-->
   <div class="whole-wrap tool_part" style="padding-top:150px;">
    <div class="container box_1170">
          <div class="section_tittle">
                <h2><span>Our</span> Tools</h2>
          </div>
       <div class="section-top-border">
          <div class="row">
             <div class="col-md-6">
                <img src="img/tools/drone.png" alt="" class="img-fluid">
             </div>
             <div class="col-md-6 mt-sm-20 tool_text">
                <h3 class="mb-30">Drone <span>Support</span></h3>
                <p>Why do it yourself when robots do it better? Our drone service allows us to take photographs where it would normally be dangerous to access.</p>
             </div>
          </div>
       </div>
       <div class="section-top-border text-right">
          <div class="row">
             <div class="col-md-6 tool_text">
                <h3 class="mb-30"><span>Gas</span> Detection</h3>
                <p class="text-right">
                   Gas leaks can be potentially fatal when gone undetected. Our inspection uses instruments to check for any possible gas leaks to make sure your first night in your new home won't be your last.
                </p>
             </div>
             <div class="col-md-6">
                <img src="img/tools/gas.png" alt="" class="img-fluid">
             </div>
          </div>
       </div>
       <div class="section-top-border">
          <div class="row">
             <div class="col-md-6">
                <img src="img/tools/moisture.png" alt="" class="img-fluid" style="width: 375px;">
             </div>
             <div class="col-md-6 mt-sm-20 tool_text">
                <h3 class="mb-30">Moisture <span>Detection</span></h3>
                <p>Water leaks left unnoticed in the long term are the quickest way a house falls apart. With our service, stop any potential or current leaks before they do long lasting damage to your new home.</p>
             </div>
          </div>
       </div>
    </div>
</div>
<!--::tool part end::-->