   <!--::yelp part end::-->
   <section class="yelp_part">
    <div class="container">
       <div class="row">
          <div class="col-md-12 yelp_column">
             <h2>Used our services? <br>Let us know what you thought.</h2>
             <a href="https://www.yelp.com/biz/quality-home-inspection-services-rowland-heights" class="genric-btn primary radius single_social_icon"><i class="fab fa-yelp"></i> Review Us</a>
          </div>
       </div>
    </div>
 </section>
 <!--::yelp part end::-->